<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SimpleShare</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="author" content="kor3k@kor3k.cz" />

    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">

    <link rel="stylesheet" type="text/css" href="assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/text.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/unsemantic-grid-base.css" />

    <script src="assets/js/jquery.js"></script>

    <script>
        var ADAPT_CONFIG =
        {
            path: 'assets/css/',
            dynamic: true,
            range:
                    [
                        '0 to 767px     =   unsemantic-grid-mobile.css' ,
                        '768 to 1024px  =   unsemantic-grid-tablet.css' ,
                        '1025px         =   unsemantic-grid-desktop.css'
                    ],
            callback: function( i , width )
            {

            }
        };
    </script>
    <script src="assets/js/adapt.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-theme.min.css" id="theme">
    <!--<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-theme.min.css">-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
	
    <script src="assets/js/vue/vue.js"></script>
    <script src="assets/js/vue/vue-resource.min.js"></script>
    <script src="assets/js/hammer.min.js"></script>
    <script src="assets/js/vue/vue-touch.min.js"></script>
    <script src="assets/js/vue/vue-async-data.js"></script>	
    <script src="assets/js/vue/vue-router.min.js"></script>
    <script src="assets/js/vue/vue-loader.js"></script>
    <script src="assets/js/vue/vue-boot.js"></script>

    <script src="assets/js/firebase.js"></script>
    <script src="assets/js/firebase-boot.js"></script>

    <script src="assets/js/moment-with-locales.js"></script>
    <script src="assets/js/js.cookie.js"></script>
    <script src="assets/js/clipboard.min.js"></script>

    <script src="assets/dropify/js/dropify.min.js"></script>
    <link rel="stylesheet" href="assets/dropify/css/dropify.min.css">

    <script src="assets/js/sharing.js"></script>
    <script src="tpl/app.js"></script>

    <style>
        [v-cloak]
        {
            display: none;
        }

        #app
        {
            margin-top: 20px;
        }

        .paste-cntnr
        {
            height: 200px;
        }

        .paste
        {
            height: 80%;
            overflow: auto;
            /*border: 1px solid red;*/
        }
    </style>
</head>
<body>

<div class="grid-container" id="app">

    <nav class="grid-100 grid-parent">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="index.html">WTF</a></li>
            <li role="presentation" class="active"><a href="app.html">Sign Up & Share</a></li>
        </ul>
    </nav>

    <hr />

    <section class="grid-50 grid-parent" id="user-ctrl">

        <div class="form-group" v-show="!loggedUserName" v-cloak>
            <div class="btn-group" role="group">
                <button @click.prevent="signIn" type="button" class="btn btn-success">Login</button>
                <a href="#" @click.prevent="signUp" class="btn btn-info">Register</a>
            </div>
        </div>

        <div class="form-group" v-show="loggedUserName" v-cloak>
            <div class="btn-group" role="group">
                <button @click.prevent="signOut" type="button" class="btn btn-danger">Sign out</button>
                <button @click.prevent="goProfile" type="button" class="btn btn-info">{{ loggedUserName }}</button>
            </div>
        </div>

    </section>

    <section class="grid-50 grid-parent">
        <div v-cloak>
            <strong>{{ $route.name }}</strong>
            <code>{{ $route.path }}</code>
        </div>
    </section>

    <hr />

    <section class="grid-100 grid-parent" id="">

        <nav class="" style="" v-show="loggedUserName" v-cloak>
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" v-link-active><a v-link="{ name: 'profile' }">Profile</a></li>
                <li role="presentation" v-link-active><a v-link="{ name: 'create' }">New share</a></li>
                <li role="presentation" v-link-active><a v-link="{ name: 'shares' }">My shares</a></li>
            </ul>
        </nav>

        <router-view></router-view>

    </section>

    <hr />
    <section class="grid-100 grid-parent" id="log-cntnr">
        <script type="x/template" id="log-view-tpl" data-name="log-view"></script>
        <component is="log-view"></component>
    </section>
</div>

<script type="x/template" id="login-tpl" data-name="login"></script>
<script type="x/template" id="register-tpl" data-name="register"></script>
<script type="x/template" id="profile-tpl" data-name="profile"></script>
<script type="x/template" id="item-list-tpl" data-name="item-list"></script>
<script type="x/template" id="create-tpl" data-name="create"></script>
<script type="x/template" id="create-file-tpl" data-name="create-file"></script>
<script type="x/template" id="create-text-tpl" data-name="create-text"></script>
<script type="x/template" id="create-url-tpl" data-name="create-url"></script>
<script type="x/template" id="create-quick-tpl" data-name="create-quick"></script>
<script type="x/template" id="item-tpl" data-name="item"></script>
<script>
    app.boot( new VueRouter({ linkActiveClass : 'active' }) );
</script>

<div class="grid-container" style="margin-bottom: 10px; text-align: right;">
    <div class="grid-100">
        <!-- theme switcher -->
        <form action="" id="theme-switcher" class="grid-100" @submit.prevent="">
            theme:
            <select v-el:theme @change="changeTheme()">
                <template v-for="theme in themes">
                    <option value="{{ theme }}">{{ theme }}</option>
                </template>
            </select>
        </form>
        <script src="tpl/theme-switcher.js"></script>
        <!-- theme switcher -->
    </div>
</div>

</body>
</html>