<form class="" @submit.prevent="createText">
    <div class="form-group">
        <label for="create-text-text">Text</label>
        <textarea v-model="text" class="form-control" id="create-text-text" placeholder="Text"></textarea>
    </div>
    <div class="form-group">
        <label for="create-text-valid-views">Valid for views</label>
        <input v-model="validViews" type="number" class="form-control" id="create-text-valid-views" placeholder="Number of views" />
    </div>
    <div class="form-group">
        <label for="create-text-valid-until">Valid until</label>
        <input v-model="validUntil" type="text" class="form-control" id="create-text-valid-until" placeholder="{{ new Date(now) }}" />
    </div>

    <div class="form-group">
        <div class="btn-group" role="group" aria-label="...">
            <button type="submit" class="btn btn-warning">Create</button>
        </div>
    </div>
</form>